<h1>Categories</h1>

<p>
  <%= link_to "New category", new_category_path, class: 'btn btn-primary' if policy(:category).new? %>
</p>

<table id="categories" class="table table-responsive table-hover">
  <thead class="table-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @categories.each do |category| %>
    <tr>
      <td><%= category.name %></td>
      <td>
        <%= link_to "Edit this category", edit_category_path(category), class: 'btn btn-outline-warning' if policy(category).edit? %>
        <%= link_to "Destroy this category", category_path(category), class: 'btn btn-outline-danger', data: { turbo_method: :delete, turbo_confirm:'Are you sure?' } if policy(category).destroy? %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>


